{% load static %}

<!doctype html>
<html lang="en">
  <head>
      <title>Betaworker {% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Betaworker is a job and career portal where you find the best jobs near you. Search for jobs in Lagos, Abuja, Calabar, Edo and much much more" />
    <meta name="keywords" content="jobs, job protal, career portal, find jobs, jobs in lagos, engineering jobs, programming jobs, business analysts jobs" />
    <meta name="author" content="Betaworker" />
    <link rel="shortcut icon" href="ftco-32x32.png">
    <link rel="icon" href="{% static 'images/browser-tab-logo.png' %}" >
    
    <link rel="stylesheet" href="{% static 'css/custom-bs.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-icons/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
  </head>
  <body id="top">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
    

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    {% include 'header.html' %}



    {% block content %}
    {% endblock content %}



    {% include 'footer.html' %}

     
  </body>
</html>